html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        h1 Simple Message Board
        ul(class="messages")
            each val, key in messages
                li
                    span(class="message-display") #{val.text}
                    div(class="from-display")
                        span(class="user-display") #{val.user}
                        span(class="date-display") #{val.added}
        div(class="custom-button")
            a(href="/new") Create Message

