html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        //form(action="/new", method="POST")
        //    p
        //        | User:
        //        input(type="text", name="user")

