html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        form(action="/new" method="POST")
            label(for='username') User:
            input(type="text" name="userName" id="username" required)
            label(for='message') Message:
            input(type="text" name="message" id="message" required)
            div
                button(class="custom-button") Submit
                div(class="custom-button")
                    a(href="/") Go Back

